* {
    padding: 0;
    margin: 0;
    border: 0px;
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
}

header section article img {
    width: 50px;
}

.header{
	background: linear-gradient(-90deg, #008b5f 0%, #2c3c83 100%);
	height: 4em;
	margin: 0px;
}

.poster {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.poster img {
    width: 100%;
	filter: brightness(0.7);
}

.poster p {
    position: absolute;
    font-size: 48px;
    color: white;
    bottom: 1em;
    left: 2em;
}

.logo{
    float:left;
    margin-left: 2.2em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
}

.logo img {
	width: 50px;
	height: 50px;
}

.logo p{
    font-size: x-large;
	margin-top: 0.5em ;
	margin-left: 0.5em;
	margin-bottom: 0;
	color: white;
}

.top-nav{
	float: right;
	width: 50%;
	margin-top: 0.6em;
}

.top-nav ul{
	margin: 0.8em;
	padding:0;
}

.top-nav ul li{
	list-style-type:none;
	display:inline-block;
	padding: 0 0.5em;
}

.top-nav ul li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	color:white;
	position: relative;
	letter-spacing: 1px;
	text-shadow: 0 0 2px rgba(255,255,255,0.3);
	padding:10px;
}

.top-nav ul li a:hover{
	background: rgba(0, 0, 0, 0.349);
}

#forest img {
    margin: 50px 30px 100px 200px;
    width: 350px;
    float: left;
    border-radius: 10px;
}

#forest #forest-text {
    padding: 50px 200px 0 10px;
}

#forest #forest-text ul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#forest #forest-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 14px;
}
#forest h1 {
    color: forestgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#forest p {
    font-family: Arial, Helvetica, sans-serif;
}

#forest #forest-text:hover {
    animation: 2s change-forest forwards;
}

#lake img {
    margin: 50px 30px 100px 200px;
    width: 350px;
    float: left;
    border-radius: 10px;
}

#lake #lake-text{
    padding: 50px 200px 0 10px;
}

#lake #lake-text ul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#lake #lake-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 14px;
}

#lake h1 {
    color: cornflowerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#lake p {
    font-family: Arial, Helvetica, sans-serif;
}

#lake #lake-text:hover {
    animation: 2s change-lake forwards;
}

/* @keyframes change-lake {
    to {
        background-color: rgb(162, 167, 162);
        box-shadow: 5px 5px 20px #4b4a4a;
        color:cornsilk;
        border-radius: 6px;
        padding-left: 8px;
        padding-right: 5px;
    }
} */

#beach img {
    margin: 50px 30px 100px 200px;
    width: 350px;
    float: left;
    border-radius: 10px;
}

#beach #beach-text{
    padding: 50px 200px 0 10px;
}

#beach #beach-text ul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#beach #beach-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 14px;
}

#beach h1 {
    color: rgb(247, 84, 20);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#beach p {
    font-family: Arial, Helvetica, sans-serif;
}

#beach #beach-text:hover {
    animation: 2s change-beach forwards;
}

#mountain img {
    margin: 50px 30px 100px 200px;
    width: 350px;
    float: left;
    border-radius: 10px;
}

#mountain #mountain-text{
    padding: 50px 200px 0 10px;
}

#mountain #mountain-text ul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#mountain #mountain-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 14px;
}

#mountain h1 {
    color: rgb(83, 81, 81);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#mountain p {
    font-family: Arial, Helvetica, sans-serif;
}

#mountain #mountain-text:hover {
    animation: 2s change-mountain forwards;
}

#desert img {
    margin: 50px 30px 100px 200px;
    width: 350px;
    float: left;
    border-radius: 10px;
}

#desert #desert-text{
    padding: 50px 200px 0 10px;
}

#desert h1 {
    color: sandybrown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#desert p {
    font-family: Arial, Helvetica, sans-serif;
}

#desert #desert-text ul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#desert #desert-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 14px;
}

#desert #desert-text:hover {
    animation: 2s change-desert forwards;
}

.Separator {
    clear: both;
}

.footer{
	background: linear-gradient(-90deg, #2c3c83 0%, #008b5f 100%);
	width:100%;
	height: 280px;
	overflow:hidden;
}

.footer-column, .footer-grid-address {
	margin-top: 10px;
}

.footer-column{
	float:left;
	height:100%;
	margin-top: 20px;
}

#column-1 {
	margin-left: 300px;
}


#column-3 {
	float: right;
	margin-right: 300px;
}

.footer-column h6{
	font-size: 1.5em;
	color: white;
	margin-bottom: 20px;

}
.footer-column p{
	font-size: 1em;
	color:white;
	line-height: 1.8em;
}

.footer-column ul li{
	text-decoration: none;
	display:block;
	padding:10px 0px;
	/* border-bottom: 2px solid black; */
	font-size: 0.9em;
	color:white;
	transition: 0.5s ease;
}

.footer-column ul {
	list-style: none;
	padding: 0;
}

.footer-columns {
	width: 100%;
}