body{
	margin:0;
	font-family: 'Raleway', sans-serif;
	background-color: white;
}
.header{
	background-color: rgb(133, 102, 0);
	height: 4em;
	margin: 0px;
}
.logo{
    float:left;
    margin-left: 2.2em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
}

.logo img {
	width: 50px;
	height: 50px;
}

.logo p{
    font-size: x-large;
	margin-top: 0.5em ;
	margin-left: 0.5em;
	margin-bottom: 0;
	color: white;
}
.top-nav{
	float: right;
	width: 40%;
	margin-top: 0.6em;
}
.top-nav ul{
	margin: 0.8em;
	padding:0;
}
.top-nav ul li{
	list-style-type:none;
	display:inline-block;
	padding: 0 0.5em;
}
.top-nav ul li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	color:white;
	position: relative;
	letter-spacing: 1px;
	text-shadow: 0 0 2px rgba(255,255,255,0.3);
	padding:10px;
}
.top-nav ul li a:hover{
	background: rgb(12, 117, 121);
}

.container{
	background: url(../images/home.png) no-repeat 0px -100px;
	background-size: 100%;
	padding-top: 0.02px;
	margin-top: 0;
	margin-right: 0;
}

.banner-title{
	color: rgb(5, 215, 252);
	padding: 19em 0 0 0;
	filter: brightness();
}
.banner-title h1{
	padding-left: 1em;
	font-size: 1.56em;
	letter-spacing: 2px;
}
.banner-title h2{
	font-size: 4.5em;
	margin: 0.2em 0 0.5em 3px;
	font-weight: 600;
	width: 75%;
}
.banner-title h2 span {
  color:rgb(5, 215, 252);
  font-weight: 300;
}

.AboutResort{
	background: rgb(0, 170, 255);
	width:100%;
	height: 1200px;
	overflow:hidden;
}
.AboutUs{
	background: rgb(0, 170, 255);
	width:100%;
	height: 360px;
	overflow:hidden;
	margin-bottom: 5em;	
}
.developer-image{
	float:left;
	width:20%;
	margin-top: 3em;
	margin-left: 16em;
	margin-right: 1em;
}
.developer-text h{
	font-weight: bolder;
}
.developer-text{
	font-family: 'Roboto', sans-serif;
	float:right;
	width:40%;
	height:100%;
	margin-top: 3em;
	margin-right: 10em;
}
.mapFunction{
	display: flex;
	flex-direction: row;
}
.frog {
	padding: 10px;
	margin: 10px;
}
.species{
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 10px;
}
.species img {
	width: 20%;
}
.species p{
	padding: 20px;
}
.search{
	border-style: solid;
	border-width: 2px;
	margin: 20px;
}
.search-bar{
	display: flex;
	flex-direction: row;
	margin: 20px;
	padding: 20px;
	position: relative;
}
.flex{
	width: 280px;
	height: 35px;
}
.search-bar input {
	margin: 3px;
}
#map {
	position: relative; 
	width: 100%; 
	height: 1000px; 
	margin: auto;
}
.footer{
	background: rgb(133, 102, 0);
	width:100%;
	height: 280px;
	overflow:hidden;
}

.footer-column, .footer-grid-address {
	margin-top: 60px;
}

.footer-column{
	float:left;
	width:31%;
	height:100%;
	margin-right:2%;
}
.footer-column h6{
	font-size: 1.5em;
	color: white;
	margin-bottom: 20px;
	margin-left: 30px;
}
.footer-column p{
	font-size: 0.9em;
	color:white;
	line-height: 1.8em;
	margin-left: 30px;
}
.footer-column ul li a{
	text-decoration: none;
	display:block;
	padding:10px 0px;
	border-bottom: 2px solid black;
	font-size: 0.9em;
	color:white;
	transition: 0.5s ease;
}
.footer-column ul li a:hover{
	color:green;
}
/*equipment*/ 
{
    padding: 0;
    margin: 0;
}



.top_img {
    width: 100%;
    height: 400px;
    position: relative;
	overflow: hidden;
}


.top_img img {
	width: 100%;
	filter: brightness(0.8);
}

.top_img p {
    position: absolute;
    font-size: 48px;
    color: white;
    bottom: 1em;
    left: 2em;
}


.beginner, .intermediate, .advanced {
    border-bottom: none !important;
    width: 100%;
    height: 600px;
}

.img {
    width: 720px;
    height: 480px;
    margin: 50px 50px 50px 100px;
	float: left;
}


.subtitle{
    font-size: 24px;
    padding-top: 100px;
    height: 24px;
    line-height: 24px;
    position:relative;
    padding-left: 1000px;
}

.beginner p,.intermediate p,.advanced p {
    padding-top: 80px;
    padding-left: 1000px;
    text-align: justify;
    
}

.beginner ul,.intermediate ul,.advanced ul {
    padding-top: 60px;
    padding-left: 1000px;
    text-align: justify;
    position:relative;
    left:200px;
}
.beginner{
    background-color: #F6F8E8;
}
.intermediate{
    background-color: #54a9da;
}
.advanced{
    background-color: #eca761;
}


/* Seasons */
.poster {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.poster img {
    width: 100%;
	filter: brightness(0.7);
}

.poster p {
    position: absolute;
    font-size: 48px;
    color: white;
    bottom: 1em;
    left: 2em;
}

.spring, .summer, .autumn, .winter {
    border-bottom: 1px solid grey;
    width: 100%;
    height: 299px;
}

.bgp {
    width: 200px;
    height: 200px;
    margin: 50px 50px 50px 150px;
    float: left;
}

.subtitle {
    font-size: 24px;
    padding-top: 50px;
    height: 24px;
    line-height: 24px;
}

#abc p {
    padding-top: 20px;
    padding-right: 150px;
    text-align: justify;
}

/* Camping */
#banner1 {
    height: 400px;
}

#banner1 p {
    position: absolute;
    font-size: 48px;
    color: white;
    left: 2em;
    bottom: 6.2em;
}

header #front {
    color: cornsilk;
    text-align: center;
    position: relative;
    font-size: 40px;
    margin: 0, auto;
    box-shadow: 5px 5px 10px #000000;
}

header #front:hover {
    color: midnightblue;
}

#guidence {
    padding-top: 40px;
    color: white;
    text-align: center;
    font-family: fantasy;
    font-size: 35px;  
    background-color:rgb(11, 11, 78);
    box-shadow: 0px 7px 12px rgb(125, 166, 197);
    animation: 7s change forwards;
}

@keyframes change {
    to {
        text-shadow: 1px 1px 1px rgb(37, 37, 37);
        color: rgb(199, 15, 15);
        background-color: rgb(234, 235, 236);
        box-shadow: 0px 7px 12px rgb(158, 156, 156);
    }
}

#below {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    padding-bottom: 10px;
    animation: 5s change-below forwards;
}

@keyframes change-below {
    to {
        color: rgb(17, 5, 36);
    }
} 

.division {
    height: 2px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#forest img {
    margin-top: 50px;
    margin-left: 30px;
    width: 350px;
    float: left;
    border-radius: 10px;
}

#forest #forest-text {
    float: left;
    margin-top: 45px;
    margin-left: 30px;
}

#forest #forest-text ul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#forest #forest-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 14px;
}
#forest h1 {
    color: rgb(39, 189, 39);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#forest p {
    font-family: Arial, Helvetica, sans-serif;
}

#forest #forest-text:hover {
    animation: 2s change-forest forwards;
}

@keyframes change-forest {
    to {
        background-color:rgb(126, 70, 15);
        box-shadow: 5px 5px 20px #4b4a4a;
        color:cornsilk;
        border-radius: 6px;
        padding-left: 8px;
        padding-right: 5px;
    }
}

#lake img {
    margin-top: 50px;
    margin-left: 30px;
    width: 350px;
    float: left;
    border-radius: 10px;
}

#lake #lake-text{
    float: left;
    margin-top: 45px;
    margin-left: 30px;
}

#lake #lake-text ul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#lake #lake-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 14px;
}

#lake h1 {
    color: cornflowerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#lake p {
    font-family: Arial, Helvetica, sans-serif;
}

#lake #lake-text:hover {
    animation: 2s change-lake forwards;
}

@keyframes change-lake {
    to {
        background-color: rgb(5, 90, 5);
        box-shadow: 5px 5px 20px #4b4a4a;
        color:cornsilk;
        border-radius: 6px;
        padding-left: 8px;
        padding-right: 5px;
    }
}

#beach img {
    margin-top: 50px;
    margin-left: 30px;
    width: 350px;
    float: left;
    border-radius: 10px;
}

#beach #beach-text{
    float: left;
    margin-top: 45px;
    margin-left: 30px;
}

#beach #beach-text ul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#beach #beach-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 14px;
}

#beach h1 {
    color: rgb(247, 84, 20);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#beach p {
    font-family: Arial, Helvetica, sans-serif;
}

#beach #beach-text:hover {
    animation: 2s change-beach forwards;
}

@keyframes change-beach {
    to {
        background-color: rgb(7, 7, 107);
        box-shadow: 5px 5px 20px #4b4a4a;
        color:cornsilk;
        border-radius: 6px;
        padding-left: 8px;
        padding-right: 5px;
    }
}

#mountain img {
    margin-top: 50px;
    margin-left: 30px;
    width: 350px;
    float: left;
    border-radius: 10px;
}

#mountain #mountain-text{
    float: left;
    margin-top: 45px;
    margin-left: 30px;
}

#mountain #mountain-text ul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#mountain #mountain-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 14px;
}

#mountain h1 {
    color: rgb(83, 81, 81);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#mountain p {
    font-family: Arial, Helvetica, sans-serif;
}

#mountain #mountain-text:hover {
    animation: 2s change-mountain forwards;
}

@keyframes change-mountain {
    to {
        background-color: rgb(182, 148, 36);
        box-shadow: 5px 5px 20px #4b4a4a;
        color:cornsilk;
        border-radius: 6px;
        padding-left: 8px;
        padding-right: 5px;
    }
}

#desert img {
    margin-top: 50px;
    margin-left: 30px;
    width: 350px;
    float: left;
    border-radius: 10px;
}

#desert #desert-text{
    float: left;
    margin-top: 45px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#desert h1 {
    color: sandybrown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#desert p {
    font-family: Arial, Helvetica, sans-serif;
}

#desert #desert-text ul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#desert #desert-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 14px;
}

#desert #desert-text:hover {
    animation: 2s change-desert forwards;
}

@keyframes change-desert {
    to {
        background-color:rgb(70, 122, 122);
        box-shadow: 5px 5px 20px #4b4a4a;
        color:cornsilk;
        border-radius: 6px;
        padding-left: 8px;
        padding-right: 5px;
    }
}

.Separator {
    clear: both;
}
