body{
	margin:0;
	font-family: 'Raleway', sans-serif;
	background-color: white;
}
.header {
	background: rgba(0, 170, 255);
	height: 4em;
	width: 100%;
	position: fixed;
}


.logo{
    float:left;
    margin-left: 2.2em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
}
.logo p{
    font-size: x-large;
	margin-top: 0.5em ;
	margin-left: 0.5em;
}
.top-nav{
	float: right;
	width: 49%;
	margin-top: 0.6em;
}
.top-nav ul{
	margin: 0.8em;
	padding:0;
}
.top-nav ul li{
	list-style-type:none;
	display:inline-block;
	padding: 0 0.5em;
}
.top-nav ul li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	color:white;
	position: relative;
	letter-spacing: 1px;
	text-shadow: 0 0 2px rgba(255,255,255,0.3);
	padding:10px;
}
.top-nav ul li a:hover{
	background: rgb(12, 117, 121);
}

.index-image{
	background: url(../images/home.png) no-repeat 0px -100px;
	background-size: 100%;
	padding-top: 0.02px;
	margin-top: 0;
	margin-right: 0;
}

.banner-title{
	color: rgb(5, 215, 252);
	margin: 19em 0;
	filter: brightness();
}
.banner-title h1{
	padding-left: 1em;
	font-size: 1.56em;
	letter-spacing: 2px;
}
.banner-title h2{
	font-size: 4.5em;
	margin: 0.2em 0 0.5em 3px;
	font-weight: 600;
	width: 75%;
}
.banner-title h2 span {
  color:rgb(5, 215, 252);
  font-weight: 300;
}

.AboutResort{
	background: rgb(0, 170, 255);
	width:100%;
	height: 1200px;
	overflow:hidden;
}
.AboutUs{
	background: rgb(0, 170, 255);
	width:100%;
	height: 360px;
	overflow:hidden;
	margin-bottom: 5em;	
}
.developer-image{
	float:left;
	width:20%;
	margin-top: 3em;
	margin-left: 16em;
	margin-right: 1em;
}
.developer-text h{
	font-weight: bolder;
}
.developer-text{
	font-family: 'Roboto', sans-serif;
	float:right;
	width:40%;
	height:100%;
	margin-top: 3em;
	margin-right: 10em;
}

.footer{
	background: rgb(0, 170, 255);
	width:100%;
	height: 280px;
	overflow:hidden
}

.footer-column{
	float:left;
	width:31%;
	height:100%;
	margin-right:2%;
}
.footer-column h6{
	font-size: 1.5em;
	color: white;
	margin-bottom: 20px;
	margin-left: 6px;
}
.footer-column p{
	font-size: 0.9em;
	color:white;
	line-height: 1.8em;
	margin-left: 6px;
}
.footer-column ul li a{
	text-decoration: none;
	display:block;
	padding:10px 0px;
	border-bottom: 2px solid black;
	font-size: 0.9em;
	color:white;
	transition: 0.5s ease;
}
.footer-column ul li a:hover{
	color:green;
}
.footer-lastcolumn{
	margin:0;
}